body {
  margin-left: 0px;
  margin-right: auto;
  text-align: left;
  border-color: black;
  border-width: 2px;
}
.header {
  width: 100%;
}
#left {
  margin-left: 0px;
  margin-right: auto;
  text-align: left;
  border-color: black;
  border-width: 2px;
}

#content{
  text-align: left;
}

