#benevolat .hasChildren {
  color:white;
  background-color: #4A5475;
  display: block;
  float: left;
  padding : 20px;
  
}

#benevolat .hasChildren li {
  color:white;
  background-color: #4A5475;
  display: block;
}

.hasChildren a:link {
  	color:white;
    text-decoration: none;
}

.hasChildren a:visited {
  color:white;
  text-decoration: none;
}