.hasChildren {
  color:white;
  background-color: #4A5475;
  display: block;
  float: left;
  width : 20%;
  padding-top : 10px;
  padding-bottom : 10px; 
  text-align: center;
  position:relative;
  
}

.hasChildren ul {
  color:white;
  background-color: #E2007A;
  display:none; 
  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
  z-index: 1;
  text-decoration: none;
  text-align: left;
  padding: 10px 16px;
  margin-left:1px;
  margin-top:10px;
  width:200px;
}

.hasChildren li {
  padding:5px;
}

.hasChildren a:link {
  color:white;
  text-decoration: none;
}

.hasChildren a:visited {
  color:white;
  text-decoration: none;
}

.hasChildren:hover ul {
  background-color: #E2007A;
  display: inline-block;
  position:absolute;
  right:-50px;
}


